use_default_settings: true

server:
  secret_key: "change-me-hf-space-local"
  limiter: false
  image_proxy: false

search:
  safe_search: 0
  autocomplete: ""
  default_lang: "auto"
  formats:
    - html
    - json

valkey:
  url: redis://redis:6379/0
