use_default_settings: true

server:
  secret_key: "appagent-node-local-searxng"
  limiter: false
  image_proxy: false

search:
  safe_search: 0
  autocomplete: ""
  default_lang: "auto"
  formats:
    - html
    - json

ui:
  static_use_hash: true
