use_default_settings: true

server:
  secret_key: "change-me-in-prod-appagent"
  limiter: false
  image_proxy: true

search:
  safe_search: 0
  autocomplete: ""
  default_lang: "auto"
  formats:
    - html
    - json

redis:
  url: redis://redis:6379/0
